.hero {
  background-image: url("./assets/img4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
}

.navbar {
  background-color: #cedadf;
}
